__pycache__/
*.log
*.csv
*.png
*.jpg
*.jpeg
.DS_Store
cle_gcp.json
venv/

# Fichiers modèles à ignorer
deeplab_resnet50_final.h5
fpn_resnet50_final.h5
pspnet_final.h5
unet_efficientnet_final.h5
unet_mini_final.h5
unet_resnet34_final.h5
